[flake8]
max-line-length = 120
exclude =
    .git,
    __pycache__,
    libs,
    build,
    dist,
    .eggs,
    *.egg-info,
    .tox,
    .venv,
    venv

ignore =
    E203,  # whitespace before ':'
    E501,  # line too long (handled by black)
    W503,  # line break before binary operator
    W504,  # line break after binary operator
    E402,  # module level import not at top of file
    F401,  # imported but unused (handled by isort)

per-file-ignores =
    __init__.py:F401
    main.py:E402

max-complexity = 15
