[MASTER]
ignore=libs,build,dist,.git,__pycache__
jobs=4

[MESSAGES CONTROL]
disable=
    C0111,  # missing-docstring
    C0103,  # invalid-name
    R0903,  # too-few-public-methods
    R0913,  # too-many-arguments
    W0212,  # protected-access
    W0511,  # fixme
    C0301,  # line-too-long (handled by black)
    C0330,  # bad-continuation (handled by black)

[FORMAT]
max-line-length=120
indent-string='    '

[DESIGN]
max-attributes=15
max-locals=20
max-branches=15

[TYPECHECK]
ignored-modules=flet,pythonnet,win32api,win32con,win32security

[IMPORTS]
known-third-party=flet,cryptography,psutil
